
.backgroundStyle {
  background: no-repeat center right fixed url(manideepSketch.jpeg);
  margin-bottom: 0;
  padding: 0;
}
/*.jumbotron:before {
	border: 1px solid #FFFFFF;
	bottom: 30px;
	content: "";
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
}*/
.backgroundStyle .overlay {background-color: deepskyblue;position: absolute;top: 0;bottom: 0;left: 0;right: 0;opacity: 0.75;filter:alpha(opacity=75);z-index: 2;}

.backgroundStyle .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.backgroundStyle .container > * { text-align: center; color: #FFFFFF; }
.backgroundStyle .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.backgroundStyle .container .lead { font-size: 28px; }


